In [20]:
pwd()

'/Users/cindyhu/Documents/Courses/CS171/teamAqua/ucmr-3-occurrence-data'

In [21]:
import pandas as pd
import numpy as np
df = pd.read_csv('ucmrByCounty_final.csv')

In [22]:
df.head(5)

,Unnamed: 0,COUNTY,"AnalyticalResultValue.count.1,1-dichloroethane","AnalyticalResultValue.count.1,2,3-trichloropropane","AnalyticalResultValue.count.1,3-butadiene","AnalyticalResultValue.count.1,4-dioxane",AnalyticalResultValue.count.17-alpha-ethynylestrad,AnalyticalResultValue.count.17-beta-estradiol,"AnalyticalResultValue.count.4-androstene-3,17-dion",AnalyticalResultValue.count.Aerobic spores,...,state,indices.avg,counts.sum,voc.indices.avg,soc.indices.avg,metal.indices.avg,dbp.indices.avg,pfas.indices.avg,horm.indices.avg,indices.sum
0,0,1001,59.0,59.0,59.0,59.0,4.0,4.0,4.0,NaN,...,AL,0.279086,1916.0,0.000000,0.000000,1.043131,0.000000,0.050172,0.0,9.209826
1,1,1003,122.0,122.0,122.0,122.0,NaN,NaN,NaN,NaN,...,AL,0.459404,2912.0,0.117701,0.602060,1.129059,1.447158,0.000000,NaN,9.647478
2,2,1005,14.0,14.0,14.0,14.0,32.0,32.0,32.0,NaN,...,AL,0.099925,616.0,0.000000,0.000000,0.466315,0.000000,0.000000,0.0,2.797890
3,3,1007,8.0,8.0,8.0,8.0,8.0,8.0,8.0,NaN,...,AL,0.230455,280.0,0.000000,0.000000,0.773303,1.812913,0.000000,0.0,6.452732
4,4,1009,80.0,80.0,80.0,80.0,NaN,NaN,NaN,NaN,...,AL,0.349895,2242.0,0.000000,0.535113,0.896878,2.113943,0.177824,NaN,9.097270

In [23]:
df2 = df.drop(['COUNTY','countyname'], 1).groupby(['state']).mean()

In [24]:
df2.to_csv('ucmrByState.csv')

In [25]:
df2.shape

(52, 186)

In [26]:
fips = pd.read_csv('state_fips.csv')[['state','name']]

In [27]:
fips.head()

  state            name
0    AK          Alaska
1    AL         Alabama
2    AR        Arkansas
3    AS  American Samoa
4    AZ         Arizona

In [28]:
df2 = pd.read_csv('ucmrByState.csv')

In [29]:
df2 = pd.merge(df2, fips, on='state')

In [30]:
df2.head()

,state,Unnamed: 0,"AnalyticalResultValue.count.1,1-dichloroethane","AnalyticalResultValue.count.1,2,3-trichloropropane","AnalyticalResultValue.count.1,3-butadiene","AnalyticalResultValue.count.1,4-dioxane",AnalyticalResultValue.count.17-alpha-ethynylestrad,AnalyticalResultValue.count.17-beta-estradiol,"AnalyticalResultValue.count.4-androstene-3,17-dion",AnalyticalResultValue.count.Aerobic spores,...,indices.avg,counts.sum,voc.indices.avg,soc.indices.avg,metal.indices.avg,dbp.indices.avg,pfas.indices.avg,horm.indices.avg,indices.sum,name
0,AK,63.5,17.000000,17.000000,17.000000,17.000000,12.666667,12.666667,12.666667,NaN,...,0.221406,425.333333,0.028777,0.000000,0.822694,1.220372,0.000000,0.000678,5.713052,Alaska
1,AL,30.0,54.620690,54.620690,54.620690,54.413793,17.363636,17.363636,17.363636,NaN,...,0.293707,1536.049180,0.010373,0.421502,0.861465,1.169339,0.045053,0.000538,7.525718,Alabama
2,AR,104.5,13.363636,13.363636,13.363636,13.363636,7.411765,7.411765,7.411765,NaN,...,0.209827,367.280000,0.001058,0.026175,0.778370,0.710165,0.000000,0.000236,5.336682,Arkansas
3,AZ,73.0,689.000000,689.000000,689.000000,689.166667,945.625000,945.625000,945.625000,NaN,...,0.477327,19731.076923,0.115168,0.692055,1.763181,1.354862,0.084737,0.000000,13.472930,Arizona
4,CA,155.0,1195.979592,1195.979592,1195.979592,1196.040816,1134.577778,1134.577778,1134.577778,NaN,...,0.467724,36816.882353,0.237041,0.501679,1.664634,1.710463,0.034691,0.026675,14.376103,California

In [31]:
df2.to_csv('ucmrByState_final.csv')